#### 1. Create a pandas dataframe having following structure
float_col int_col str_col
0 0.1 1 a
1 0.2 2 b
2 0.2 6 None
3 10.1 8 c
4 NaN -1 a

In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"float_col":[0.1,0.2,0.2,10.1,np.nan],"int_col":[1,2,6,8,-1],"str_col":['a','b',None,'c','a']})

#### 2. filter the columns 'float_col', 'int_col' from the dataframe in one query. Hint-use ix method of dataframes. Also print without using ix method

In [4]:
# Note ix is depreciated


# filter dataframe
display(df.loc[(df['float_col']>=0.2) & (df['int_col']< 40), ['float_col','int_col']])

   float_col  int_col
1        0.2        2
2        0.2        6
3       10.1        8

#### 3. filter the records from float_col having value greater than 0.15 and in separate query filter float_col value equal to 0.1

In [9]:
# filter dataframe
display(df.loc[df['float_col']>=0.1])
display(df.query('float_col == 0.1'))

   float_col  int_col str_col
0        0.1        1       a
1        0.2        2       b
2        0.2        6    None
3       10.1        8       c

   float_col  int_col str_col
0        0.1        1       a

#### 4. filter the records from data frame which satisfies both the conditions float_col greater than 0.1 and int_col greater than 2

In [10]:
display(df.loc[(df['float_col']>=0.1) & (df['int_col'] > 2), ['float_col','int_col']])

   float_col  int_col
2        0.2        6
3       10.1        8

#### 5. filter the records from data frame which satisfies both the conditions float_col greater than 0.1 or int_col greater than 2

In [11]:
display(df.loc[(df['float_col']>=0.1) & (df['int_col'] > 2), ['float_col','int_col']])

   float_col  int_col
2        0.2        6
3       10.1        8

#### 6. filter the records from data frame which satisfies the conditions float_col not greater than 0.1

In [12]:
##Sames as Question 5

Empty DataFrame
Columns: [float_col, int_col]
Index: []

#### 7. Create a new data frame in which column int_col is renamed to new_name.

In [14]:
df_new = df

df_new.rename(columns = {'int_col':'int_col_new'}, inplace = True)
df_new

   float_col  int_col_new str_col
0        0.1            1       a
1        0.2            2       b
2        0.2            6    None
3       10.1            8       c
4        NaN           -1       a

#### 8. Modify the existing data frame and rename the column int_col to new_name

In [ ]:
#Sames as Question 7

#### 9. Drop the rows where any value is missing from the data frame

In [17]:
df_new_drop = df
df_new_drop.dropna()

   float_col  int_col_new str_col
0        0.1            1       a
1        0.2            2       b
3       10.1            8       c

#### 10. Change the missing value in column float_col as mean value of the float_col

In [27]:
df1 = df
df3 = df1[df1['float_col'].isna()]
df1.at[4,'float_col']=df1['float_col'].mean()
df1

   float_col  int_col_new str_col
0       0.10            1       a
1       0.20            2       b
2       0.20            6    None
3      10.10            8       c
4       2.65           -1       a

#### 11. change all the values of str_col with new value and drop the missing values. New value should have prefix map_ and original value. Eg map_a, map_b

In [44]:

df = pd.DataFrame({"float_col":[0.1,0.2,0.2,10.1,np.nan],"int_col":[1,2,6,8,-1],"str_col":['a','b',None,'c','a']})
df.mask(df.eq('None')).dropna()
df1 = df.dropna(subset=['str_col'])

df1['str_col'] = df1['str_col'].apply(lambda x: "{}{}".format('map_', x))

df1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   float_col  int_col str_col
0        0.1        1   map_a
1        0.2        2   map_b
3       10.1        8   map_c
4        NaN       -1   map_a

#### 12. group all the values of str_col and find the mean of float_col in all the groups respectively.

In [47]:
df = pd.DataFrame({"float_col":[0.1,0.2,0.2,10.1,np.nan],"int_col":[1,2,6,8,-1],"str_col":['a','b',None,'c','a']})

df.groupby('str_col')['float_col'].mean()

str_col
a     0.1
b     0.2
c    10.1
Name: float_col, dtype: float64

#### 13. find the covariance of float_col and int_col

In [51]:
df = pd.DataFrame({"float_col":[0.1,0.2,0.2,10.1,np.nan],"int_col":[1,2,6,8,-1],"str_col":['a','b',None,'c','a']})
df.cov()

           float_col    int_col
float_col  24.670000  12.483333
int_col    12.483333  13.700000

#### 14. find the correlation of float_col and int_col

In [52]:
df = pd.DataFrame({"float_col":[0.1,0.2,0.2,10.1,np.nan],"int_col":[1,2,6,8,-1],"str_col":['a','b',None,'c','a']})
df.corr()

           float_col   int_col
float_col   1.000000  0.760678
int_col     0.760678  1.000000